@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("image.avif");
}

:root {
  --font-poetson: "Poetsen One", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  padding: 10px;
}
.todo-app {
  max-width: 540px;
  height: fit-content;
  background: #fff;
  margin: 100px auto;
  padding: 40px 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 3px;
}
h2 {
  background: #fff;
  text-align: center;
  font-family: var(--font-poetson);
  font-weight: 400;
  font-style: normal;
  color: #5d39a9;
  font-size: 50px;
  word-spacing: 5px;
  letter-spacing: 2px;
  line-height: 50px;
  text-decoration: underline;
}
.input-add {
  display: flex;
  align-items: center;
  margin: 25px;
  justify-content: space-between;
  background: #fff;
}
input {
  flex: 1;
  padding: 15px;
  border: none;
  outline-color: #5d39a9;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.add-button {
  max-width: 220px;
  max-height: 50px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: var(--font-poetson);
  border: none;
  color: #5d39a9;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-left: 5px;
  border-radius: 5px;
}
ul {
  list-style-type: none;
  padding: 0;
  background: #fff;
}
li {
  background: #fff;
  max-width: 430px;
  margin: 12px 25px 12px 25px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px #d5d1d1;
}
.fa-trash {
  background: white;
  color:rgba(255, 0, 0, 0.753);
  padding: 2px 2px;
  font-size: 20px;
  cursor: pointer;
}
.fa-pen-to-square{
  background: white;
  font-size: 20px;
}
ul li p{
  flex: 0.9;

}